.letter {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 30px;
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
}

.letter-header {
  text-align: center;
  margin-bottom: 20px;
}

.letter-body {
  text-align: left; /* Align the text from left to right */

  margin-bottom: 20px;
}

.letter-signature {
  text-align: right;
  font-style: italic;
}

.school-name {
  margin-right: 5px;
}

.school-logo {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-top: 4px; /* Adjust the margin-top value to position the logo lower */

}

.school-link {
  display: inline-block;
  margin-left: 5px;
}
