
.editor-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  height: 80vh; /* Updated: Set the height to 50% */
  background-color: #000000;
  border-radius:5px 0 0 5px;
  color: #abb2bf;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  overflow: auto;
  box-sizing: border-box;
  position: relative; /* Add position relative */
  padding: 0;  /* Removed padding */
  margin: 0; 
}
.output-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  height: 80vh; /* Updated: Set the height to 50% */
  background-color: #000000;
  border-radius:0 5px 5px 0;;
  color: #abb2bf;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  overflow: auto;
  box-sizing: border-box;
  position: relative; /* Add position relative */
  padding: 0;  /* Removed padding */
  margin: 0; 
}


.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding:1.6%;
  border-bottom: 1px solid #abb2bf;
  background-color: #282c34;
}




.terminal {
  width: 100%;
  height: calc(100% - 50px);  /* Subtract the height of terminal header */
  overflow: auto;
  
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: 'Courier New', monospace;
  margin: 0;
  font-size: 1px; /* Added: Set the font size to match code editor's font size */
  background-color: #000000;  /* Updated: Black background */
  color: #abb2bf; /* Updated: Light gray color for text */
}

.terminal-header {
  font-size: 1.2em;
  font-weight: bold;
  background-color: #282c34;  /* Updated: Dark blue background color */
  padding: 2.7%;
  color: #fff; /* Updated: White color for text */
}

.terminal-body {
  display: block;
  text-align: left;
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: #abb2bf;
  height: calc(100% - 50px);
  position: relative; /* Add position relative */
}


/* nav bar css*/
.nav-link.custom-nav-link {
  color: #fff !important;
}

.nav-link.custom-nav-link:hover,
.nav-link.custom-nav-link:active,
.nav-link.custom-nav-link:focus {
  color: #ddd !important;
}

.navbar-brand.custom-navbar-brand {
  color: #fff !important;
}
.navbar {
  background-color: #f8f9fa;
  padding: 10px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-item {
  padding: 0;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.code-editor {
  margin-top: -0.3%; /* Adjust this value as necessary */

}

.strike-through {
  text-decoration: line-through;
}



